<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>ホーム｜Hoshimikan6490</title>
</head>

<body>
    <header>
        <div class="headerContents">
            <div class="headerLeft">
                <a href="/" rel="noreferrer">
                    <img src="/images/logo.png" alt="私のアイコン" class="myIcon">
                    <div class="appName">
                        <p>[非公式]工学院大学新宿キャンパス<br>エレベーター案内システム</p>
                    </div>
                </a>
            </div>
            <div class="headerRight">
                <a href="https://github.com/Hoshimikan6490/kogakuin-shinjukuEV-guide" target="_blank"
                    rel="noopener noreferrer">
                    <img alt="このWebサイトのプログラムが見られるボタン"
                        src="https://img.shields.io/badge/View%20on%20Github-grey?style=for-the-badge&logo=github">
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="waku">
            <h1>受講予定の教室を指定してください</h1>
            <div class="form">
                <form id="roomForm">
                    <div class="selectBox">
                        <label for="building">建物</label>
                        <select name="building" id="building" required>
                            <option value="" disabled selected>選択してください</option>
                            <option value="A">高層棟(A棟)</option>
                            <option value="B">低層棟(B棟)</option>
                        </select>
                    </div>
                    <div class="selectBox">
                        <label for="floor">階数</label>
                        <select name="floor" id="floor" required></select>
                    </div>
                    <div class="selectBox">
                        <label for="room">教室</label>
                        <select name="room" id="room" required></select>
                    </div>
                    <button type="submit">検索</button>
                </form>
            </div>
        </div>
    </main>

    <a class="return_top" href="#">▲TOPへ戻る</a>

    <footer>
        <small>© Hoshimikan6490 2024</small>
    </footer>
</body>

<script type="module" src="/js/main.js"></script>

</html>