<div class="headerContents">
    <div class="headerLeft">
        <a href="/" rel="noreferrer">
            <img src="/images/logo.png" alt="私のアイコン" class="myIcon">
            <div class="appName">
                <p>[非公式]工学院大学新宿キャンパス<br>エレベーター案内システム</p>
            </div>
        </a>
    </div>
    <div class="headerRight">
        <a href="https://github.com/Hoshimikan6490/kogakuin-shinjukuEV-guide" target="_blank" rel="noopener noreferrer">
            <img alt="このWebサイトのプログラムが見られるボタン"
                src="https://img.shields.io/badge/View%20on%20Github-grey?style=for-the-badge&logo=github">
        </a>
    </div>
</div>